* {
    margin: 0;
    padding: 0;
}

*::selection {
    background: #abcdef;
    color: #fff;
}

html,
body,
#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background: #eee;
}

#app {
    display: inline-block;
}

.el-menu-item {
    height: 100% !important;
}

.el-menu-item {
    background: none !important;
}

.el-card__body {
    padding: 0 !important;
}