* {
    margin: 0;
    padding: 0;
}

*::selection {
    background: #abcdef87;
    color: #fff;
    text-shadow: 3px 3px 0.5rem #1E2128;
}


/* 自定义颜色 */

:root {
    --bg-bright: #eee;
    --bg-dark: #1E2128;
    --scroll-color: #abcdef;
    --wave-bright: #eee;
    --wave-dark: #1E2128;
    --font-bright: #666;
    --font-dark: #fff;
    --icon-bright: #fff;
    --icon-dark: #1E2128;
    --card-bright: #fff;
    --card-dark: #2a2c31;
    --menu-bright: #abcdef;
    --menu-dark: #fff;
    --card-message-bright: #fff;
    --card-message-dark: #ddd;
    --animate-duration: 0.5s;
}

html,
body,
#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0 !important;
}

body #app {
    background: var(--bg-bright);
    transition: all 1s;
}

#app {
    display: inline-block;
}

.el-menu-item {
    height: 100% !important;
}

.el-menu-item {
    background: none !important;
}

.el-card__body {
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: #abcdef;
}

.el-autocomplete {
    width: 50vw;
}

.el-autocomplete input {
    border-radius: 15px;
}

.my-autocomplete {
    border-radius: 15px;
}

.my-autocomplete .el-popper__arrow::before {
    display: none;
}

@media (max-width: 576px) {
    .el-autocomplete {
        width: 80vw;
    }
}